<script type="text/ng-template" id="playVideoModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">影片回放</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <video width="740" controls autoplay>
            <source ng-src="videos/{{videofilename}}" type="video/mp4">
        </video>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">關閉</button>
    </div>
</script>