<script type="text/ng-template" id="trendModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">影片回放</h3>
    </div>
    <div class="modal-body" id="modal-body">
       
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">關閉</button>
    </div>
</script>