  .nav-pills {
    width: 650px;
  }

  .tab-nav-item {
    width: 25%;
  }

  .nav-pills .nav-link {
    font-weight: bold;
    padding-top: 13px;
    text-align: center;
    background: #343436;
    color: #fff;
    border-radius: 30px;
    height: 100px;
  }

  .nav-pills .nav-link.active {
    background: #494956;
    color: #ffffff;
  }

  .tab-content {
    position: relative;
    height: auto;
    margin-top: -50px;
    background: #494956;
    color: #000;
    border-radius: 30px;
    z-index: 1000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
    padding: 30px;
    margin-bottom: 50px;
  }

  .iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;
  }

  .iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .nav-link{
    cursor: pointer;
  }

  .focus-btn{
      color:#b5bcd0;
  }

  #child-content{
    border:none;
  }

  #canvas{
    width:100%;
  }

.max-w-350{
  max-width: 350px;
}