.nav p, .logo {
    font-size: 16px;
}

option {
    color: #525f7f;
}

.btn-primary {
    background: #2f61f4;
    background-image: -webkit-linear-gradient(to bottom left, #2f61f4, #1e89f7, #FF5722);
    background-image: -o-linear-gradient(to bottom left, #2f61f4, #1e89f7, #FF5722);
    background-image: -moz-linear-gradient(to bottom left, #2f61f4, #1e89f7, #FF5722);
    background-image: linear-gradient(to bottom left, #2f61f4, #1e89f7, #FF5722);
    background-size: 210% 210%;
    background-position: top right;
    background-color: #2f61f4;
    transition: all 0.15s ease;
    box-shadow: none;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:focus, .btn-primary.active:hover {
    background-color: #2330ce !important;
    background-image: linear-gradient(to bottom left, #2330ce, #284acf, #4e6ee1) !important;
    background-image: -webkit-linear-gradient(to bottom left, #2330ce, #284acf, #4e6ee1) !important;
    background-image: -o-linear-gradient(to bottom left, #2330ce, #284acf, #4e6ee1) !important;
    background-image: -moz-linear-gradient(to bottom left, #2330ce, #284acf, #4e6ee1) !important;
    color: #ffffff;
    box-shadow: none;
}

input[type="range"] {
    padding: 0!important;
    border: 0px;
}

.stream-input {
    width: 100px;
}

.stream-input-section {
    width: 120px;
}

.red {
    color: red;
}

.green {
    color: green !important;
}

input[type="text"] {
    border: 1px solid #2b3553;
    border-radius: 0.4285rem;
    background-color: transparent;
    box-shadow: none;
    color: white;
    padding: 5px 10px 5px 10px;
    height: 38px;
    font-size: .75rem;
}

.table-responsive {
    overflow: auto;
    padding-bottom: 10px;
}

.fixTableHead {
    overflow-y: auto;
    max-height: 50vh;
}

.fixTableHead thead th {
    position: sticky;
    top: 0;
    background: #27293d;
    z-index:5;

}

table {
    border-collapse: collapse;
    width: 100%;
}
.white{
    color:white;
}
.data-list{
 font-size:12px;
}
#viewer{
    position:absolute;
    height: calc(100vh - 180px);
    top:80px;
    left:265px;
    width: calc(100vw - 280px)
}