label{
    color:white;
}
.search-btn{
    top:25px;
    font-size:12px;
}

.da-area-img{
    width:100%;
}

.svg-container{
    text-align:center;
}

svg{
    width: 100%;
}

rect{
    cursor: pointer;
}
rect:hover{
    filter: 
    invert(1)
    sepia(6)
}
.light-blue-bar{
    background: rgb(9,241,235);
    width: 80px;
    height: 10px;
    display: inline-block;
}
.blue-bar{
    background: rgb(68,54,250);
    width: 80px;
    height: 10px;
    display: inline-block;
}
.purple-bar{
    background: rgb(199,69,235);
    width: 80px;
    height: 10px;
    display: inline-block;
}
.green-bar{
    background: green;
    width: 80px;
    height: 10px;
    display: inline-block;
}
.yellow-bar{
    background: yellow;
    width: 80px;
    height: 10px;
    display: inline-block;
}
.red-bar{
    background: red;
    width: 80px;
    height: 10px;
    display: inline-block;
}
.text-bar{
    color:white;
    width: 80px;
    font-size: 12px;
    padding-left: 8px;
    height: 10px;
    display: inline-block;
}
.displacement-label{
    margin-top:10px;
}