.pagination-div{
    text-align: center;
}

ul.pagination{
    width:fit-content;
    margin: auto;
}

ul.pagination li.pagination-page {
    padding-left:15px;
    padding-right:15px;
}

li.pagination-page.ng-scope.active{
    background-color:#bdbdbd;
}

li.pagination-page.ng-scope a{   
    color:#bdbdbd;
}

li.pagination-page.ng-scope.active a{   
    color:rgb(0, 0, 0);
}

ul.pagination li.pagination-prev{
    padding: 3px 10px 3px 10px;
}

ul.pagination li.pagination-prev a{
    color:#bdbdbd;   
}

ul.pagination li.pagination-next{
    padding: 3px 10px 3px 10px;
}

ul.pagination li.pagination-next a{
    color:#bdbdbd;   
}

ul.pagination li.pagination-first{
    padding: 3px 10px 3px 10px;  
}

ul.pagination li.pagination-first a{
    color:#bdbdbd;   
}

ul.pagination li.pagination-last{
    padding: 3px 10px 3px 10px;
}

ul.pagination li.pagination-last a{
    color:#bdbdbd;   
}

ul.pagination li{   
    border: 1px solid #bdbdbd;
    padding:3px;
}