label {
    color: white;
}

.search-btn {
    top: 25px;
    font-size: 12px;
}

.da-area-img {
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(1);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1
}

.svg-container{
    text-align:center;
}

svg{
    width: 100%;
}

rect{
    cursor: pointer;
}
rect:hover{
    filter: 
    invert(1)
    sepia(6)
}
.download-span{
    text-align: right;
    width: 100%;
    display: block;
}
.download-span button{
    font-size:12px;

}