.scan-btn{
    margin-top:20px;
}

.orange{
    color:orange;
}
.red{
    color:red;
}
.white{
    color:white;
}
.warning-statement{
    color:#f18080 !important;
}
.file-delete{
    color:#f18080;
    cursor: pointer;
}
