<div class="main-panel">
  <!-- Navbar -->
  <chiper-nav></chiper-nav>
  <!-- End Navbar -->
  <div class="content">
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">帳號</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12"><h3>密碼更新</h3></div>
            </div>
            <div class="row mt-3">
              <div class="col-md-2">
                <div class="form-group">
                  <label>帳號</label>
                  <input type="text" ng-model="account" disabled class="form-control" />
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>目前密碼</label>
                  <input type="text" ng-model="currentPassword" class="form-control" />
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>新密碼</label>
                  <input type="text" ng-model="newPassword" class="form-control" />
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>新密碼確認</label>
                  <input type="text" ng-model="newPasswordConfrim" class="form-control" />
                </div>
              </div>

              <div class="col-lg-2 col-md-3">
                <button
                  type="button"
                  class="btn btn-primary scan-btn"
                  ng-click="updatePassword()"
                >
                  更新
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <chiper-footer></chiper-footer>
</div>
<link href="../assets/css/home.css" rel="stylesheet" />
