<div class="main-panel">
  <!-- Navbar -->
  <chiper-nav></chiper-nav>
  <!-- End Navbar -->
  <div class="content">
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="card status-card">
          <div class="card-header">
            <h4 class="card-title">設備狀態</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <p>
                  監測設備狀態為便攜式變位監測行動站的光達設備狀態，狀態分為：<br /><span
                    class="white"
                    >待機中</span
                  >
                  - 設備可隨時開啟掃描<br /><span class="orange"
                    >掃描運行中</span
                  >
                  - 設備正在掃描中<br /><span class="red">系統錯誤</span> -
                  設備系統發生錯誤
                </p>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-xl-2 col-lg-3">
                <div class="form-group">
                  <label>監測設備狀態</label><br />
                  <h4 class="device-status">{{deviceStatus}}</h4>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3">
                <div class="form-group">
                  <label>目前監測設備設定</label><br />
                  <h4 class="device-status">{{selectedPeriod.label}}<span ng-if="selectedPeriod.value>0">進行{{selectedPeriodScantime.label}}</span></h4>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-2 col-lg-3">
                <div class="form-group">
                  <label>資料同步狀態</label><br />
                  <h4 class="sync-status">{{syncStatus}}</h4>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-lg-2 col-md-4 col-sm-4">
                <div class="form-group">
                  <label>最後同步時間</label><br />
                  <h4>{{syncDateimte}}</h4>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
                <button
                  type="button"
                  class="btn btn-primary scan-btn"
                  ng-click="sync()"
                  ng-show="deviceAbleToRun && deviceNSyncAbleToRun"
                >
                  資料上傳
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
 <!--     <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">即時光達畫面</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <p>按下「開始畫面顯示」即可開啟光達並在設備螢幕上觀看目前光達的掃描位置與角度，按下「停止畫面顯示」來結束即時光達畫面顯示並關閉光達</p>
                <p class="warning-statement">
                  注意：開始即時畫面將會把現有的週期掃描功能關閉
                </p>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4">
                <button
                  type="button"
                  class="btn btn-primary scan-btn"
                  ng-click="liveDisplay(1)"
                  ng-show="deviceAbleToRun && deviceNSyncAbleToRun && !isDeviceStreaming"
                >
                  開始即時光達畫面顯示
                </button>
                <button
                  type="button"
                  class="btn btn-primary scan-btn"
                  ng-click="liveDisplay(0)"
                  ng-show="isDeviceStreaming"
                >
                  停止即時光達畫面顯示
                </button>
              </div>
            </div>           
          </div>
        </div>
      </div> -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">掃描</h4>
          </div>
          <div class="card-body">
            <div class="row">
             
              <div class="col-12">
                <h3>即時掃描</h3>
                <p>按下「開始即時掃描」即可開啟光達並根據掃描模式時間長度蒐集點雲資訊，蒐集到的資訊將會表列在頁面下方的「掃描檔案清單」</p>
                <p class="warning-statement">
                  注意：開始即時掃描將會把現有的週期掃描功能關閉
                </p>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-xl-2 col-lg-3 col-lg-2 col-md-4 col-sm-4">
                <div class="form-group">
                  <label>掃描模式</label>
                  <select
                    class="form-control ng-pristine ng-valid ng-not-empty ng-touched"
                    ng-options="item.label for item in scantimeFreqOptions track by item.id"
                    ng-model="selectedScantime"
                  ></select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>檔案名稱</label>
                  <input type="text" ng-model="lidarFilename" class="form-control" />
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
                <button
                  type="button"
                  class="btn btn-primary scan-btn"
                  ng-click="scan()"
                  ng-show="deviceAbleToRun && deviceNSyncAbleToRun"
                >
                  開始即時掃描
                </button>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12"><h3>週期掃描</h3></div>
            </div>
            <div class="row">
              <div class="col-xl-2 col-lg-3 col-lg-2 col-md-4 col-sm-4">
                <div class="form-group">
                  <label>掃描頻率</label>
                  <select
                    class="form-control ng-pristine ng-valid ng-not-empty ng-touched"
                    ng-options="item.label for item in periodicOptions track by item.id"
                    ng-model="selectedPeriod"
                  ></select>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-lg-2 col-md-4 col-sm-4">
                <div class="form-group">
                  <label>掃描模式</label>
                  <select
                    class="form-control ng-pristine ng-valid ng-not-empty ng-touched"
                    ng-options="item.label for item in scantimeFreqOptions track by item.id"
                    ng-model="selectedPeriodScantime"
                  ></select>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-lg-2 col-md-4 col-sm-4">
                <div class="form-group">
                  <label>檔案名稱前綴</label>
                  <input type="text" ng-model="lidarPeriodFilename" class="form-control" />
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
                <button
                  type="button"
                  class="btn btn-primary scan-btn"
                  ng-click="applyPeriodic()"
                  ng-show="deviceAbleToRun && deviceNSyncAbleToRun"
                >
                  儲存並套用
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">掃描檔案清單</h4>
          </div>
          <div class="card-body">
 	    <div class="row">
	    <div class="col-12 mb-3">
 	   	 <span class="file-delete" ng-if="fileList.length>0" ng-click="deleteAllFile()">刪除全部檔案</span>
	    </div>
	    </div>
            <div class="row data-list">
              <p class="col-3" ng-repeat="file in fileList">
                <span class="tim-icons icon-paper"></span> {{file.name}} <span class="tim-icons icon-bag-16 ml-2"></span> {{file.fileSizeInMB}}MB

                <span class="file-delete" ng-click="deleteFile(file.name)"><span class="tim-icons icon-trash-simple"></span></span>
                <a ng-href="/{{file.name}}"><span class="tim-icons icon-cloud-download-93"></span></a>
              </p>
            </div>
            <div class="row">
              <div class="col-12 text-center">
                <button
                  type="button"
                  class="btn btn-primary scan-btn"
                  ng-click="getFiles()"
                >
                  重新整理
                </button>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <chiper-footer></chiper-footer>
</div>
<link href="../assets/css/home.css" rel="stylesheet" />
