<div class="main-panel">
  <!-- Navbar -->
  <chiper-nav></chiper-nav>
  <!-- End Navbar -->
  <div class="content">
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="card status-card">
          <div class="card-header">
            <h4 class="card-title">設備狀態</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <p>
                  監測設備狀態為便攜式變位監測行動站的光達設備狀態，狀態分為：<br /><span
                    class="white"
                    >待機中</span
                  >
                  - 設備可隨時開啟掃描<br /><span class="orange"
                    >掃描運行中</span
                  >
                  - 設備正在掃描中<br /><span class="red">系統錯誤</span> -
                  設備系統發生錯誤
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-2 col-lg-3">
                <div id="viewer"></div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <chiper-footer></chiper-footer>
</div>
<link href="../assets/css/home.css" rel="stylesheet" />
