<div class="main-panel">
  <!-- Navbar -->
  <chiper-nav></chiper-nav>
  <!-- End Navbar -->
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">系統管理</h4>
          </div>
          <div class="card-body" id="master-content">
            <div>
              <ul class="nav nav-pills" role="tablist">
                <li class="tab-nav-item">
                  <a
                    class="nav-link active"
                    data-toggle="pill"
                    ng-click="changeTab(1)"
                    >系統空間</a
                  >
                </li>
                <li class="tab-nav-item">
                  <a class="nav-link" data-toggle="pill" ng-click="changeTab(2)"
                    >系統資訊</a
                  >
                </li>
            
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <!---------------- Tab 1 系統空間 ------------------->
                <div id="live" class="tab-pane active" ng-show="currentTab==1">
                  <div class="content">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="card">
                          <div class="card-header">
                            <h4 class="card-title">系統空間</h4>
                          </div>
                          <div class="card-body">
                            <form>
                              <div class="row mt-3">
                                <div class="col-lg-12 text-left white">
                                  系統總空間：{{systemStorage.total}} GB
                                  <br />剩餘空間：{{systemStorage.free}} GB
                                </div>
                              </div>
                              <div class="row mt-3">
                                <div class="col-lg-12 mt-3">
                                  <div
                                    id="progressBar"
                                    class="skills progress-bar"
                                  >
                                    {{systemStorage.percent}}%
                                  </div>
                                </div>
                              </div>
      
                            </form>
                          </div>
                          <div class="card-footer"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer"></div>
                </div>
                <!---------------- Tab 1 系統空間 End------------------->
                <!---------------- Tab 2 系統資訊 ------------------->
                <div id="image" class="tab-pane active" ng-show="currentTab==2">
                  <div class="content">
                    <div class="row">
                      <!---------------- image adjust ------------------->
                      <div class="col-md-12">
                        <div class="card">
                          <div class="card-header">
                            <h4 class="card-title">系統資訊</h4>
                          </div>
                          <div class="card-body">
                            <form>
                              <div class="row">
                                <div class="col-md-12 pr-md-1 text-center ">
                                  <img class="max-w-350" src="./img/asap-logo.png"/>
                                  <br>
                                  <h4 class="white mt-1">便攜式變位監測行動站-RDP1</h4>
                                  <h4 class="white">版本 : 1.0.0</h4>
                                  <p>有任何問題請聯絡我們</p>
                                  <p>Email:weitinglo@chiper.com.tw</p>
                                  <p>Phone:(02)2964-6633</p>
                                </div>
                              </div>
                             
                            </form>
                          </div>
                          <div class="card-footer">
                          
                          </div>
                        </div>
                      </div>
                      <!---------------- image live video ------------------->
                    </div>
                  </div>
                </div>
                <!---------------- Tab 2 系統資訊 End------------------->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <chiper-footer></chiper-footer>
</div>

<link href="../assets/css/camera.css" rel="stylesheet" />
